text {
    font: 12px Microsoft YaHei;
    pointer-events: none;
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

circle {
    -webkit-animation: fill 2s ease 0;
    animation: fill 2s ease 0;
    cursor: pointer;
}
circle:hover {
    z-index: 999;
}